extends layout

block content

  section.header

  div.wrap
    section.user_profile
      img.likes_heart(src='img/dapppr-02.png')
      img.user_pic.profile_center(src='#{user.avatar_url}')
      h2.user_name.profile_center
        | #{user.name}
      h2.profile_center.likes_number #{user.userLikes}
      img.profile_center.likes_heart(src='img/dapppr-03.png')
      h2.profile_center_link
        a(href='https://dribbble.com/#{username}') dribbble account

    - var randomizeColor = function(){
    -   var result = Math.floor(Math.random() * ((19-0)+1) + 0);
    -   return colorObject[result].background_color;
    - }

    a.alert
      //- p Enjoy the example of your dapppr store?
      //- .btn Activate Your Store Now.

    section.products

      div.grid
        for png in user.userArtWork
          div(class='col-'+index)
            div.item-container
              div.size-container(user-select='none') small
              div.size-container.medium(user-select='none') medium
              div.size-container.large(user-select='none') large
              div.profile_center.shirt-items(style='width: 265px; height: 315px; position: relative; background-color: rgb(255, 255, 255);')
                img.profile_shirts(src='img/crew_front.png' style='background-color: #{randomizeColor()}')
                img.prod_img.profile_center(src='#{png.image_url}' style='z-index: 10;')

  section.footer
    div.wrap-big
      h1.dapppr_footer_title
        a(href="#") dapppr
        span.about | about
