extends layout

block content

  section.user_profile
    img.user_pic.profile_center(src='#{user.avatarURL}')
    h2.user_name.profile_center
      | #{user.userName}
    h2.profile_center #{user.userLikes}
    h2.profile_center
      a(href='https://dribbble.com/#{username}') Dribbble


  section.products
    div.grid
      for png, index in user.shots
        div(class='col-'+index)
          img.prod_img.profile_center(src='#{png.image_url}')
